<nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container">
        <a href="index.html" class="navbar-brand">Tower Bootstrap Theme</a>

        <ul class="navbar-nav ms-auto flex-row gap-3">
            <li class="nav-item dropdown">
                <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-label="Color Changer">
                    <span id="current-color-theme"></span> <span class="d-none d-lg-inline">Primary Color</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end position-absolute">
                    <button type="button" class="dropdown-item" data-color-theme-value="purple">
                        <span class="color-selector-preview" style="--twr-preview-color: #7540bf; "></span> Purple
                    </button>
                    <button type="button" class="dropdown-item" data-color-theme-value="default">
                        <span class="color-selector-preview" style="--twr-preview-color: #0068d8; "></span> Blue
                    </button>
                    <button type="button" class="dropdown-item" data-color-theme-value="cyan">
                        <span class="color-selector-preview" style="--twr-preview-color: #047878;"></span> Cyan
                    </button>
                    <button type="button" class="dropdown-item" data-color-theme-value="green">
                        <span class="color-selector-preview" style="--twr-preview-color: #198754;"></span> Green
                    </button>
                </div>
            </li>
            <li class="nav-item dropdown">
                <button type="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-label="Theme Changer">
                    <span id="current-theme"></span> <span class="d-none d-lg-inline">Switch Themes</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end position-absolute">
                    <button type="button" class="dropdown-item" data-bs-theme-value="light">
                        <span class="mdi mdi-weather-sunny"></span>
                        Light
                    </button>
                    <button type="button" class="dropdown-item" data-bs-theme-value="dark">
                        <span class="mdi mdi-weather-night"></span>
                        Dark
                    </button>
                    <button type="button" class="dropdown-item" data-bs-theme-value="auto">
                        <span class="mdi mdi-theme-light-dark"></span>
                        Auto
                    </button>
                </div>
            </li>
            <li class="nav-item">
                <a href="https://github.com/StrutTower/tower-bootstrap-theme" rel="noreferrer noopener" class="nav-link" aria-label="View on GitHub">
                    <svg class="svg-icon" viewBox="0 0 24 24">
                        <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg>
                    <span class="d-none d-lg-inline">GitHub</span>
                </a>
            </li>
        </ul>
    </div>
</nav>