///<reference path="twr-variables.scss" />
///<reference path="twr-variables-dark.scss" />
///<reference path="../node_modules/bootstrap/scss/variables.scss" />


.alert-success, .text-success {
    --bs-link-color-rgb: #{toRgb($success)};
    --bs-link-hover-color-rgb: #{toRgb(darken($success,10))};
}

.alert-danger, .text-danger {
    --bs-link-color-rgb: #{toRgb($danger)};
    --bs-link-hover-color-rgb: #{toRgb(darken($danger,10))};
}

.alert-warning, .text-warning {
    --bs-link-color-rgb: #{toRgb(darken($warning, 20))};
    --bs-link-hover-color-rgb: #{toRgb(darken($warning,30))};
}

.alert-info, .text-info {
    --bs-link-color-rgb: #{toRgb($info)};
    --bs-link-hover-color-rgb: #{toRgb(darken($info, 10))};
}

@include color-mode(light) {
    .alert-dark, .text-dark {
        --bs-link-color-rgb: #{toRgb(darken($link-color, 10))};
        --bs-link-hover-color-rgb: #{toRgb(darken($link-color, 20))};
    }
}

@include color-mode(dark) {
    .alert-success, .text-success {
        --bs-link-color-rgb: #{toRgb(lighten($success,10))};
        --bs-link-hover-color-rgb: #{toRgb(lighten($success,20))};
    }

    .alert-danger, .text-danger {
        --bs-link-color-rgb: #{toRgb(lighten($danger,10))};
        --bs-link-hover-color-rgb: #{toRgb(lighten($danger,20))};
    }

    .alert-warning, .text-warning {
        --bs-link-color-rgb: #{toRgb($warning)};
        --bs-link-hover-color-rgb: #{toRgb(lighten($warning,20))};
    }

    .alert-info, .text-info {
        --bs-link-color-rgb: #{toRgb(lighten($info,10))};
        --bs-link-hover-color-rgb: #{toRgb(lighten($info, 20))};
    }
}
