///<reference path="twr-variables.scss" />
///<reference path="twr-variables-dark.scss" />
///<reference path="../node_modules/bootstrap/scss/variables.scss" />


.alert a {
    color: var(--bs-link-color);

    &:hover {
        color: var(--bs-link-hover-color);
    }
}

.alert-success, .text-success {
    --bs-link-color: var(--bs-success-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-success-text-emphasis) h s calc(l - 5));
}

.alert-danger, .text-danger {
    --bs-link-color: var(--bs-danger-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-danger-text-emphasis) h s calc(l - 5));
}

.alert-warning, .text-warning {
    --bs-link-color: var(--bs-warning-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-warning-text-emphasis) h s calc(l - 5));
}

.alert-info, .text-info {
    --bs-link-color: var(--bs-info-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-info-text-emphasis) h s calc(l - 5));
}
