///<reference path="../node_modules/bootstrap/scss/bootstrap.scss" />

$breadcrumb-link-bg: $secondary;
$breadcrumb-link-hover-bg: $primary;
$breadcrumb-link-active-bg: lighten($primary, 5);
$breadcrumb-link-current-bg: lighten($secondary, 5);

.breadcrumb {
    list-style: none;
    display: inline-block;

    .breadcrumb-item {
        float: left;
        padding-left: 12px;

        a, & > span {
            color: #FFF;
            display: block;
            background: $breadcrumb-link-bg;
            text-decoration: none;
            position: relative;
            height: 40px;
            line-height: 40px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 4px;
            transition: background 0.2s ease;
        }

        &:first-child {
            a, span {
                padding-left: 15px;
                @include border-radius(4px 0 0 4px);

                &:before {
                    border: none;
                }
            }
        }

        &:last-child {
            a, & > span {
                padding-right: 15px;
                @include border-radius(0 4px 4px 0);

                &:after {
                    border: none;
                }
            }
        }

        a, & > span {
            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                border: 0 solid $breadcrumb-link-bg;
                transition: border-color 0.2s ease;
                border-width: 20px 10px;
                width: 0;
                height: 0;
            }

            &:before {
                left: -20px;
                border-left-color: transparent;
            }

            &:after {
                left: 100%;
                border-color: transparent;
                border-left-color: $breadcrumb-link-bg;
            }
        }

        a {
            &:hover {
                background-color: $breadcrumb-link-hover-bg;

                &:before {
                    border-color: $breadcrumb-link-hover-bg;
                    border-left-color: transparent;
                }

                &:after {
                    border-left-color: $breadcrumb-link-hover-bg;
                }
            }

            &:active {
                background-color: $breadcrumb-link-active-bg;

                &:before {
                    border-color: $breadcrumb-link-active-bg;
                    border-left-color: transparent;
                }

                &:after {
                    border-left-color: $breadcrumb-link-active-bg;
                }
            }
        }

        &.active > span {
            background: $breadcrumb-link-current-bg;

            &:before {
                border-color: $breadcrumb-link-current-bg;
                border-left-color: transparent;
            }
        }
    }
}
