///<reference path="../node_modules/bootstrap/scss/variables.scss" />

.btn-warning {
    --bs-btn-hover-bg: #{"hsl(from var(--bs-btn-bg) h s calc(l - 7.5))"};
    --bs-btn-hover-border-color: #{"hsl(from var(--bs-btn-bg) h s calc(l - 7))"};
    --bs-btn-active-bg: #{"hsl(from var(--bs-btn-bg) h s calc(l - 10))"};
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
}

.btn.btn-outline-primary,
.btn.btn-outline-secondary,
.btn.btn-outline-success,
.btn.btn-outline-info,
.btn.btn-outline-danger,
.btn.btn-outline-dark {
    color: var(--bs-body-color);

    &:hover {
        color: $white;
    }
}

.btn.btn-outline-warning,
.btn.btn-outline-light {
    color: var(--bs-body-color);

    &:hover {
        color: $black;
    }
}


.btn:focus-visible {
    outline: 2px solid var(--twr-outline-color);
}
