///<reference path="../node_modules/bootstrap/scss/variables.scss" />

:root {
    --twr-input-bg: #{$input-bg};
    --twr-outline-color: black;
}


@include color-mode(dark) {
    --twr-outline-color: white;
}