///<reference path="twr-variables.scss" />
///<reference path="twr-variables-dark.scss" />
///<reference path="../node_modules/bootstrap/scss/variables.scss" />

@include color-mode(dark) {
    strong, .font-weight-bold {
        color: white;
    }

    .form-check-input:not(:checked, :focus) {
        border-color: #{"hsl(from var(--bs-border-color) h s calc(l + 10))"};

        &:focus {
            border-color: $input-focus-border-color;
        }
    }

    .blockquote-footer {
        color: $text-muted;
    }
}
