///<reference path="../node_modules/bootstrap/scss/variables.scss" />

details {
    border: 1px var(--bs-border-color) solid;
    border-radius: var(--bs-border-radius);
    padding: 0.5em 1em 0;
    margin-bottom: .2em;

    summary {
        margin: -0.5em -1em 0;
        padding: 0.5em;

        &::marker {
            color: var(--bs-primary-text-emphasis);
        }
    }

    &[open] {
        padding: 0.5em 1em;

        summary {
            color: var(--bs-primary-text-emphasis);
            background: var(--bs-primary-bg-subtle);
            border-bottom: 1px solid var(--bs-border-color);
            margin-bottom: 0.5em;
        }
    }
}