///<reference path="variables.scss" />
///<reference path="../node_modules/bootstrap/scss/_variables.scss" />

// Includes fixes that couldn't be fixed with Sass variables alone.
// When compiling Sass, this should be loaded after Bootstrap's Sass files

.btn.btn-outline-light {
    color: #aaa;
    border-color: #ccc;
}

.text-success, .valid-feedback {
    color: #077a44 !important;
}

.text-warning {
    color: #C99805 !important;
}

::-webkit-calendar-picker-indicator {
    filter: invert(30%);
}