///<reference path="twr-variables.scss" />
///<reference path="twr-variables-dark.scss" />
///<reference path="../node_modules/bootstrap/scss/variables.scss" />


.form-control, .form-select {
    &:focus {
        outline: 1px solid $input-focus-border-color;
    }

    &.is-valid:focus {
        border-color: var(--bs-form-valid-border-color);
        outline-color: var(--bs-form-valid-border-color);
    }

    &.is-invalid:focus {
        border-color: var(--bs-form-invalid-border-color);
        outline-color: var(--bs-form-invalid-border-color);
    }
}

/* ASP.NET validation error messages */
.field-validation-error, .validation-summary-errors {
    color: var(--bs-form-invalid-color);
}

/* jQuery validation input validation error */
.form-control.input-validation-error, .form-select.input-validation-error {
    border-color: var(--bs-form-invalid-color);

    &:focus {
        border-color: var(--bs-form-invalid-color);
        outline: 1px solid var(--bs-form-invalid-color);
    }
}



/* custom label styles */
label {
    font-size: 0.9em;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    margin-bottom: 0;
    margin-left: 0.4em;
    opacity: 0.7;
    /*letter-spacing: 0.5px;*/
}

label.form-check-label {
    font-size: 1rem;
    text-transform: none;
    font-variant: normal;
    margin-left: 0;
    opacity: 1;
    letter-spacing: unset;
}

.form-floating > label {
    font-size: 1rem;
    text-transform: none;
    margin-left: 0;
    opacity: .7;
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
    background-color: transparent;
}


/* form-select mulitple fixes */
@include color-mode(light) {
    .form-select[multiple] {
        option:checked {
            background: lighten($primary, 10);
            color: $white;
        }

        option:hover {
            color: $white;
            background: lighten($primary, 15);
        }
    }
}

@include color-mode(dark) {
    .form-select[multiple] {
        option:checked {
            background: darken($primary, 10);
            color: $white;
        }

        option:hover {
            color: $white;
            background: darken($primary, 15);
        }
    }

    &:disabled {
        background: $input-disabled-bg;
    }
}

.form-check-label, .form-check-input,
label.form-check, label.form-check-inline {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
}