///<reference path="twr-variables.scss" />
///<reference path="twr-variables-dark.scss" />
///<reference path="../node_modules/bootstrap/scss/variables.scss" />

/* Setting outline for focused inputs */
.form-control, .form-select {
    &:focus, &:focus-within {
        outline: 1px solid var(--bs-link-color); //$input-focus-border-color;
        border-color: var(--bs-link-color); //$input-focus-border-color;
    }

    &.is-valid:focus {
        border-color: var(--bs-form-valid-border-color);
        outline-color: var(--bs-form-valid-border-color);
    }

    &.is-invalid:focus {
        border-color: var(--bs-form-invalid-border-color);
        outline-color: var(--bs-form-invalid-border-color);
    }
}


/* ASP.NET validation error messages */
.field-validation-error, .validation-summary-errors {
    color: var(--bs-form-invalid-color);
}

/* jQuery validation input validation error */
.form-control.input-validation-error, .form-select.input-validation-error {
    border-color: var(--bs-form-invalid-color);

    &:focus {
        border-color: var(--bs-form-invalid-color);
        outline: 1px solid var(--bs-form-invalid-color);
    }
}


/* custom label styles */
label {
    font-size: 0.9em;
    font-variant: small-caps;
    margin-bottom: 0;
    margin-left: 0.4em;
    opacity: 0.7;
}

label.form-check-label {
    font-size: 1rem;
    text-transform: none;
    font-variant: normal;
    margin-left: 0;
    opacity: 1;
    letter-spacing: unset;
}

.form-floating > label {
    font-size: 1rem;
    margin-left: 0;
}


/* Checkbox outline for better keyboard support */
.form-check-input {
    &:focus-visible {
        outline: 2px solid var(--twr-outline-color);
    }
}


/* Pointer cursor for checkbox labels */
.form-check-label, .form-check-input, label.form-check, label.form-check-inline {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
}

/* Custom select styling */
@supports (appearance:base-select) {
    select, select::picker(select),
    select.form-select, select.form-select::picker(select) {
        appearance: base-select;
    }

    select::picker-icon {
        display: none;
    }

    select.form-select::picker(select) {
        background: var(--twr-input-bg);
        border: 1px solid var(--bs-link-color); //$input-focus-border-color;
        border-radius: var(--bs-border-radius);
        box-shadow: 0 0 4px rgba(0,0,0, 0.4), 0 0 10px rgba(0,0,0, 0.2);
    }

    .form-select option {
        --twr-select-option-checked-bg: #{"hsl(from var(--bs-primary) h s l / 20%)"};

        &:checked {
            background: var(--twr-select-option-checked-bg);
        }
    }

    .form-select[size="1"] option::checkmark {
        transform: translateY(-.25em);
    }

    @include color-mode(dark) {
        .form-select option {
            --twr-select-option-checked-bg: #{"hsl(from var(--bs-primary) h s l / 50%)"};
        }
    }
}