///<reference path="_variables.scss" />
///<reference path="_variablesLight.scss" />
///<reference path="_variablesDark.scss" />
///<reference path="../node_modules/bootstrap/scss/bootstrap.scss" />

.form-control, .custom-select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    transition: border-bottom-color 0.3s ease;

    &:focus:not(:read-only) {
        border-bottom-color: $primary;
    }
}

.input-group {
    .form-control {
        border-right: 1px solid $input-border-color;

        .input-group-append .form-control:last-child {
            border-left: none;
        }
    }
}

.form-control.input-validation-error {
   // @extend .form-control.is-invalid;

    &:focus:not(:read-only) {
        border-bottom-color: $danger;
        box-shadow: none;
    }
}

.field-validation-error, .validation-summary-errors {
    color: $danger;
}

input[type="color"].form-control {
    padding: .3rem .5rem
}

input[type="color"]:not(.form-control) {
    padding: 0;
    border: none;
    display: block;
    height: 1.8rem;
}

.form-group label:not(.form-check-label):not(.form-check):not(.form-check-inline):not(.custom-control-label) {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 0.4rem;
    opacity: $label-opacity;
}

select {
    option {
        background: $input-bg;
    }

    optgroup {
        background: $optgroup-background;
    }
}

.form-check-label, .form-check-input,
.custom-control-label, .custom-control-input,
label.form-check, label.form-check-inline {
    cursor: pointer;
    display:inline-block;
    margin-bottom:0;
}

.form-group .custom-file label.custom-file-label {
    font-size: 1rem !important;
    text-transform: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-help-text {
    opacity: 0.7;
    padding-left: 10px;
    font-size: 0.8rem;
}

.form-check ~ .form-help-text {
    transform: translateY(-7px);
    padding-left: 25px;
}


// Hide the default select arrow
.custom-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(70%);
}
