///<reference path="_variables.scss" />
///<reference path="_variablesLight.scss" />
///<reference path="_variablesDark.scss" />
///<reference path="../node_modules/bootstrap/scss/bootstrap.scss" />

.form-control, .form-select {
    border-top: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    transition: border-bottom-color 0.3s ease;

    &:focus:not(:read-only) {
        border-bottom-color: $primary;
    }
}

.input-group > .form-control, .input-group > .form-select {
    border-right: 1px solid $input-border-color;
    margin-right: 1px;

    &:last-child {
        border-left: none;
        margin-right: 0;
    }
}

.form-control.input-validation-error {
    &:focus:not(:read-only) {
        border-bottom-color: $danger;
        box-shadow: none;
    }
}



// ASP.NET validation error messages
.field-validation-error, .validation-summary-errors {
    color: $danger;
}

// jQuery validation input validation error
.form-control.input-validation-error, .form-select.input-validation-error {
    border-color: $danger;
}

input[type="color"].form-control {
    padding: .3rem .5rem
}

input[type="color"]:not(.form-control) {
    padding: 0;
    border: none;
    display: block;
    height: 1.8rem;
}

label {
    font-size: 0.7em;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-left: 0.4em;
    opacity: $label-opacity;
}

label.form-check-label {
    font-size: 1rem;
    text-transform: none;
    margin-left: 0;
    opacity: 1;
}

.form-floating > label {
    font-size: 1rem;
    text-transform: none;
    margin-left: 0;
    opacity: .7;
    transform: translateY(-8px);
}

.form-select {
    -moz-padding-start: $input-padding-x;

    optgroup {
        background: $optgroup-background;
    }

    &[multiple] {
        option:checked {
            background: darken($primary, 10);
            color: $white;
        }

        option:hover {
            color: $white;
            background: darken($primary, 15);
        }
    }

    &:disabled {
        background: $input-disabled-bg;
    }
}

.form-check-label, .form-check-input,
label.form-check, label.form-check-inline {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
}

.form-help-text {
    opacity: 0.7;
    padding-left: 10px;
    font-size: 0.8rem;
}

.form-check ~ .form-help-text {
    transform: translateY(-7px);
    padding-left: 25px;
}

.form-control::file-selector-button {
    border-top: 1px $input-border-color solid;
    border-left: 1px $input-border-color solid;
    border-right: 1px $input-border-color solid;
    border-top-left-radius: $border-radius;
}