///<reference path="../node_modules/bootstrap/scss/variables.scss" />

$table-colors: ("primary", "secondary", "success", "warning", "danger", "info");

@each $color in $table-colors {
    .table-#{$color} {
        --bs-table-color: #{$body-color};
        --bs-table-bg: var(--bs-#{$color}-bg-subtle);
        --bs-table-border-color: var(--bs-#{$color}-border-subtle);
        --bs-table-striped-bg: hsl(from var(--bs-#{$color}-bg-subtle) h s calc(l - 2));
        --bs-table-striped-color: var(--bs-#{$color}-text-emphasis);
        --bs-table-active-bg: hsl(from var(--bs-#{$color}-bg-subtle) h s calc(l - 10));
        --bs-table-active-color: #{$body-color};
        --bs-table-hover-bg: hsl(from var(--bs-#{$color}-bg-subtle) h s calc(l - 5));
        --bs-table-hover-color: #{$body-color};
    }
}

@include color-mode(dark) {
    @each $color in $table-colors {
        .table-#{$color} {
            --bs-table-color: var(--bs-#{$color}-text-emphasis);
            --bs-table-striped-bg: hsl(from var(--bs-#{$color}-bg-subtle) h s calc(l + 2));
            --bs-table-active-bg: hsl(from var(--bs-#{$color}-bg-subtle) h s calc(l + 10));
            --bs-table-active-color: #{$body-color-dark};
            --bs-table-hover-bg: hsl(from var(--bs-#{$color}-bg-subtle) h s calc(l + 5));
            --bs-table-hover-color: #{$body-color-dark};
        }
    }
}
