///<reference path="../node_modules/bootstrap/scss/variables.scss" />

.text-warning {
    color: darken($warning, 25) !important;
}

.text-success {
    color: darken($success, 5) !important;
}

[data-bs-theme="dark"] {
    .text-primary {
        color: lighten($primary, 17) !important;
    }

    .text-secondary {
        color: lighten($secondary, 25) !important;
    }

    .text-success {
        color: lighten($success, 10) !important;
    }

    .text-info {
        color: lighten($info, 10) !important;
    }

    .text-warning {
        color: $warning !important;
    }

    .text-danger {
        color: lighten($danger, 18) !important;
    }

    .text-dark {
        color: var(--bs-black) !important;
    }
}
