///<reference path="../node_modules/bootstrap/scss/variables.scss" />

:root {
    --bs-link-hover-color: #{"hsl(from var(--bs-link-color) h s calc(l + 5))"};
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
}


a, .btn-link {
    text-decoration-color: #{"hsl(from var(--bs-link-color) h s l / 50%)"};

    &:hover {
        text-decoration-color: var(--bs-link-hover-color);
    }
}

.text-warning, .link-warning {
    color: darken($warning, 25) !important;
}

.text-success, .link-success {
    color: darken($success, 5) !important;
}

.nav-link:focus-visible {
    outline: 2px solid var(--twr-outline-color);
}

/* Alert Links */
.alert a {
    color: var(--bs-link-color);

    &:hover {
        color: var(--bs-link-hover-color);
    }
}

.alert-success, .text-success {
    --bs-link-color: var(--bs-success-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-success-text-emphasis) h s calc(l + 5));
}

.alert-danger, .text-danger {
    --bs-link-color: var(--bs-danger-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-danger-text-emphasis) h s calc(l + 5));
}

.alert-warning, .text-warning {
    --bs-link-color: var(--bs-warning-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-warning-text-emphasis) h s calc(l + 5));
}

.alert-info, .text-info {
    --bs-link-color: var(--bs-info-text-emphasis);
    --bs-link-hover-color: hsl(from var(--bs-info-text-emphasis) h s calc(l + 5));
}

@include color-mode(dark) {
    .text-primary {
        color: #{"hsl(from var(--bs-primary) h s calc(l + 14))"} !important;
    }

    .text-secondary {
        color: #{"hsl(from var(--bs-secondary) h s calc(l + 25))"} !important;
    }

    .text-success {
        color: #{"hsl(from var(--bs-success) h s calc(l + 10))"} !important;
    }

    .text-info {
        color: #{"hsl(from var(--bs-info) h s calc(l + 10))"} !important;
    }

    .text-warning {
        color: var(--bs-warning) !important;
    }

    .text-danger {
        color: #{"hsl(from var(--bs-danger) h s calc(l + 17))"} !important;
    }

    .text-dark {
        color: var(--bs-black) !important;
    }
}
