///<reference path="../node_modules/bootstrap/scss/variables.scss" />

$enable-shadows: true;

$gray-800: #2A2A2E !default;
$gray-900: darken($gray-800, 4) !default;
$gray-700: lighten($gray-800, 10) !default;
$gray-600: lighten($gray-700, 10) !default;
$gray-500: lighten($gray-600, 10) !default;
$gray-400: lighten($gray-500, 10) !default;
$gray-300: lighten($gray-400, 10) !default;
$gray-200: lighten($gray-300, 10) !default;
$gray-100: lighten($gray-200, 10) !default;

$body-color: #212529 !default;
$body-bg: #eee !default;

$body-color-dark: #F1F1F1 !default;
$body-bg-dark: darken(#282A31, 2.5) !default;

$body-tertiary-bg-dark: $gray-800 !default;


$light: darken($body-bg, 20) !default;

$code-color: #c72877 !default;

$link-color: $primary !default;
$link-color-rgb: toRgb($primary) !default;


$body-secondary-bg-dark: lighten($body-bg-dark, 10) !default;



/* nav */
$nav-link-padding-y: .2rem !default;

$navbar-toggler-padding-y: 0 !default;
$navbar-toggler-font-size: 1rem !default;
$navbar-light-toggler-border-color: transparent !default;
$navbar-dark-toggler-border-color: transparent !default;

/* inputs */
$input-btn-padding-y: .125rem !default;
$input-btn-padding-x: .4rem !default;

$input-btn-padding-y-sm: .1rem !default;
$input-btn-padding-x-sm: .25rem !default;

$input-btn-padding-y-lg: .25rem !default;
$input-btn-padding-x-lg: 0.5rem !default;

$input-bg: #{"hsl(from var(--bs-body-bg) h s calc(l + 4))"} !default;
$input-focus-border-color: $primary !default;
$input-placeholder-color: #888 !default;


$form-select-indicator-padding: 2rem !default;


$form-switch-color-dark: lighten($body-secondary-bg-dark, 10) !default;

$form-invalid-color-dark: #ea868f !default;
$form-invalid-border-color-dark: #ea868f !default;

$focus-ring-width: 0 !default;


$form-select-indicator-padding: $input-btn-padding-x * 4;


/* buttons */
$btn-box-shadow: none !default;

/* floating label */
$form-floating-label-opacity: 0.6 !default;
$form-floating-label-transform: scale(.85) translateY(-.8rem) translateX(.15rem) !default;


/* tables */
$table-striped-bg-factor: .03 !default;



/* carousel */
$carousel-dark-caption-color: #fff !default;
$carousel-dark-indicator-active-bg: #fff !default;
$carousel-dark-control-icon-filter: none !default;