

$gray-800: #2A2A2E !default;

$gray-900: darken($gray-800, 4) !default;
$gray-700: lighten($gray-800, 10) !default;
$gray-600: lighten($gray-700, 10) !default;
$gray-500: lighten($gray-600, 10) !default;
$gray-400: lighten($gray-500, 10) !default;
$gray-300: lighten($gray-400, 10) !default;
$gray-200: lighten($gray-300, 10) !default;
$gray-100: lighten($gray-200, 10) !default;

$body-bg: $gray-800 !default;
$body-color: #F1F1F1 !default;
$border-color: lighten($body-bg, 15) !default;

$primary: #007acc !default;
$secondary: $gray-700 !default;
$info: teal !default;
$dark: $gray-900 !default;

$link-color: lighten($primary, 10) !default;

$text-muted: lighten(#6c757d, 3) !default;

$input-bg: lighten($body-bg, 3) !default;
$input-disabled-bg: lighten($body-bg, 1) !default;
$input-color: $body-color !default;
$input-border-color: lighten($body-bg, 10) !default;
$input-placeholder-color: $gray-500 !default;
$input-group-addon-bg: darken($body-bg, 1) !default;

$form-check-input-bg: darken($body-bg, 5) !default;
$form-check-input-border: 1px solid $input-border-color !default;

$form-switch-color: $body-color !default;

$form-select-indicator-color: $body-color !default;
$form-select-focus-border-color: $primary !default;
$optgroup-background: darken($input-bg, 5) !default;

$form-range-track-bg: darken($body-bg, 5) !default;

$label-opacity: 0.7 !default;

$hr-border-color: lighten($body-bg, 10) !default;

$toast-background-color: $dark !default;

$custom-select-focus-border-color: $primary !default;
$custom-select-focus-box-shadow: none !default;

$custom-control-indicator-disabled-bg: lighten($body-bg, 10) !default;

$webkit-picker-indicator-filter: 70% !default;

$card-header-bg: rgba(0,0,0,0.1) !default;


// Navs
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-border-color: lighten($input-border-color, 10) !default;
$nav-tabs-link-hover-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color !default;
$nav-tabs-link-active-color: $body-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg !default;

// Pagination*/
$pagination-bg: darken($body-bg, 2) !default;
$pagination-border-color: $input-border-color !default;

$pagination-hover-bg: darken($pagination-bg, 2) !default;
$pagination-hover-border-color: $pagination-border-color !default;

$pagination-focus-bg: darken($pagination-hover-bg, 2) !default;

$pagination-active-bg: darken($pagination-hover-bg, 2) !default;

$pagination-disabled-bg: $input-disabled-bg !default;
$pagination-disabled-border-color: $pagination-hover-border-color !default;

// Cards*/
$card-bg: darken($body-bg, 2) !default;
$card-border-color: rgba(#fff, .15) !default;

// Popovers
$popover-bg: darken($body-bg, 2) !default;
$popover-border-color: $input-border-color !default;
$popover-header-bg: lighten($body-bg,3) !default;

// Modals
$modal-content-bg: $body-bg !default;

// Progress bars*/
$progress-bg: darken($body-bg, 5) !default;

/*// List group*/
$list-group-color: $body-color !default;
$list-group-bg: darken($body-bg, 1) !default;
$list-group-border-color: lighten($body-bg, 5) !default;

$list-group-hover-bg: lighten($list-group-bg, 2) !default;

$list-group-action-hover-color: darken($list-group-color, 4) !default;
$list-group-action-active-color: $list-group-color !default;

$list-group-action-active-bg: $list-group-bg !default;

// Dropdowns
$dropdown-color: $body-color !default;
$dropdown-bg: $body-bg !default;

$dropdown-link-color: $body-color !default;
$dropdown-link-hover-color: #fff !default;
$dropdown-link-hover-bg: lighten($body-bg,3) !default;

// Code
$kbd-bg: darken($body-bg, 5) !default;
$kbd-color: $body-color !default;

// Toasts
$toast-background-color: darken($body-bg, 3) !default;
$toast-header-background-color: lighten($body-bg, 3) !default;

// Accordion
$accordion-bg: darken($body-bg, 3) !default;
$accordion-button-active-bg: $primary !default;
$accordion-button-active-color: #fff !default;
$accordion-border-color: $input-border-color !default;
