

$gray-800: #2A2A2E !default;

$gray-900: darken($gray-800, 4) !default;
$gray-700: lighten($gray-800, 10) !default;
$gray-600: lighten($gray-700, 10) !default;
$gray-500: lighten($gray-600, 10) !default;
$gray-400: lighten($gray-500, 10) !default;
$gray-300: lighten($gray-400, 10) !default;
$gray-200: lighten($gray-300, 10) !default;
$gray-100: lighten($gray-200, 10) !default;

$body-bg: $gray-800 !default;
$body-color: #F1F1F1 !default;

$primary: #007acc !default;
$secondary: $gray-700 !default;
$dark: $gray-900 !default;

$text-muted: lighten(#6c757d, 3) !default;

$input-bg: lighten($body-bg, 3) !default;
$input-disabled-bg: lighten($body-bg, 1) !default;
$input-border-color: lighten($body-bg, 10) !default;
$input-placeholder-color: $gray-500 !default;
$optgroup-background: darken($input-bg, 5) !default;

$label-opacity:0.7 !default;

$hr-border-color: lighten($body-bg, 10) !default;

$custom-select-focus-border-color: $primary !default;
$custom-select-focus-box-shadow: none !default;

$custom-control-indicator-disabled-bg: lighten($body-bg, 10) !default;

$webkit-picker-indicator-filter: 70% !default;


