$body-color: #212529 !default;
$body-bg: #eee !default;

$border-radius: 2px 2px 0 0 !default;
$border-radius-sm: 2px 2px 0 0 !default;
$border-radius-lg: 2px 2px 0 0 !default;
$border-radius-xl: 2px 2px 0 0 !default;
$border-radius-xxl: 2px 2px 0 0 !default;
$border-radius-pill: 2px 2px 0 0 !default;

$nav-link-padding-y: .2rem !default;


$input-btn-padding-y: .125rem !default;
$input-btn-padding-x: .4rem !default;

$input-btn-padding-y-sm: .1rem !default;
$input-btn-padding-x-sm: .25rem !default;

$input-btn-padding-y-lg: .25rem !default;
$input-btn-padding-x-lg: 0.5rem !default;

$input-bg: darken($body-bg, 5) !default;
$input-border-color: darken($body-bg, 15) !default;
$form-select-focus-border-color: $primary !default;

$input-focus-box-shadow: none !default;
$form-select-focus-box-shadow: none !default;

/*$form-floating-height: 2.5rem !default;
$form-floating-input-padding-b: .9rem !default;
$form-floating-label-transform: scale(.80) translateY(-1.2rem) translateX(.5rem) !default;
*/

$label-opacity: 0.8 !default;