

$gray-800: #2A2A2E;

$gray-900: darken($gray-800, 4);
$gray-700: lighten($gray-800, 10);
$gray-600: lighten($gray-700, 10);
$gray-500: lighten($gray-600, 10);
$gray-400: lighten($gray-500, 10);
$gray-300: lighten($gray-400, 10);
$gray-200: lighten($gray-300, 10);
$gray-100: lighten($gray-200, 10);

$body-bg: $gray-800;
$body-color: #F1F1F1;

$primary: #007acc;
$secondary: $gray-700;
$dark: $gray-900;

$input-bg: lighten($body-bg, 3);
$inputDisabledColor: darken($body-color, 25);
$input-border-color: lighten($body-bg, 10);
$optgroupBackground: darken($input-bg, 5);

$hr-border-color: lighten($body-bg, 10);

$custom-select-focus-border-color: $primary;
$custom-select-focus-box-shadow: none;

$custom-control-indicator-disabled-bg: lighten($body-bg, 10);