

$border-radius: 2px;
$border-radius-lg: 2px;
$border-radius-sm: 2px;

$navbar-padding-y:2px;
$navbar-light-toggler-border-color:transparent;
$navbar-dark-toggler-border-color:transparent;

$input-btn-padding-y: .125rem !default;
$input-btn-padding-x: .4rem !default;

$input-btn-padding-y-sm: .1rem !default;
$input-btn-padding-x-sm: .25rem !default;

$input-btn-padding-y-lg: .25rem !default;
$input-btn-padding-x-lg: 0.5rem !default;

$input-focus-box-shadow: none;