$body-color: #212529 !default;
$body-bg: #eee !default;
$primary: #0068d8 !default;
$info: #017878 !default;
$danger: #D12335 !default;
$light: darken($body-bg, 20) !default;


$code-color: #c62a78 !default;


$input-bg: darken($body-bg, 5) !default;
$input-border-color: darken($body-bg, 15) !default;
$form-select-focus-border-color: $primary !default;
$optgroup-background: darken($input-bg,5) !default;

$label-opacity: 0.8 !default;

$custom-select-focus-border-color: $primary !default;
$custom-select-focus-box-shadow: none !default;


$webkit-picker-indicator-filter: 35% !default;

$progress-bg: darken($body-bg, 15) !default;

$card-header-bg: rgba(0,0,0,0.03) !default;