

$border-radius: 2px !default;
$border-radius-lg: 2px !default;
$border-radius-sm: 2px !default;

$navbar-padding-y: 2px !default;
$navbar-light-toggler-border-color: transparent !default;
$navbar-dark-toggler-border-color: transparent !default;

$input-btn-padding-y: .125rem !default;
$input-btn-padding-x: .4rem !default;

$input-btn-padding-y-sm: .1rem !default;
$input-btn-padding-x-sm: .25rem !default;

$input-btn-padding-y-lg: .25rem !default;
$input-btn-padding-x-lg: 0.5rem !default;

$input-focus-box-shadow: none !default;

$breadcrumb-bg: transparent !default;
$breadcrumb-divider: '' !default;
$breadcrumb-padding-y: .5rem !default;
$breadcrumb-margin-bottom: 0 !default;