///<reference path="_variablesDark.scss" />
///<reference path="../node_modules/bootstrap/scss/bootstrap.scss" />

@import "variables";
@import "variablesDark";

@import "../node_modules/bootstrap/scss/bootstrap";

@import "input";
@import "carousel";
@import "breadcrumbs";
@import "other";
@import "darkFixes";
@import "plugins/allPlugins";

.btn.btn-secondary:hover, .btn.btn-secondary:focus {
    background: darken($secondary,2);
    border-color: darken($secondary, 2);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    background: darken($secondary, 4);
    border-color: darken($secondary, 4);
}

.btn.btn-dark:hover, .btn.btn-dark:focus {
    background: darken($dark,2);
    border-color: darken($dark, 2);
}

// Set bold font to white to help it stand out more like it does in the light theme
.fw-semibold, .fw-bold, strong {
    color: #fff;
}

::-webkit-calendar-picker-indicator {
    filter: invert(70%);
}