@import "variables";
@import "variablesLight";


@import "../node_modules/bootstrap/scss/bootstrap";

@import "input";
@import "carousel";

.btn.btn-outline-light {
    color:#aaa;
    border-color:#ccc;
}

.custom-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}